<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autotest.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.autotest.model.Module" >
    <id column="moduleid" property="moduleid" jdbcType="INTEGER" />
    <result column="moduleName" property="modulename" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="_timestamp" property="timestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    moduleid, moduleName, pid, _timestamp
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qa_module
    where moduleid = #{moduleid,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from qa_module
    where moduleName = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectModules" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qa_module
  </select>

  <select id="selectByNameAndPid" resultMap="BaseResultMap" parameterType="com.autotest.model.Module">
    select
    <include refid="Base_Column_List" />
    from qa_module
    where modulename= #{modulename,jdbcType = VARCHAR} and pid = #{pid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qa_module
    where moduleid = #{moduleid,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.autotest.model.Module" >
    insert into qa_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modulename != null" >
        moduleName,
      </if>
      <if test="pid != null" >
        pid,_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modulename != null" >
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
        now()
      </if>
      <!--if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if-->
    </trim>
    <selectKey resultType="java.lang.Integer" keyProperty="moduleid">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.autotest.model.Module" >
    update qa_module
    <set >
      <if test="modulename != null" >
        moduleName = #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null" >
        _timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where moduleid = #{moduleid,jdbcType=INTEGER}
  </update>
</mapper>