<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autotest.dao.VariableMapper" >
  <resultMap id="BaseResultMap" type="com.autotest.model.Variable" >
    <id column="variableid" property="variableid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="suitid" property="suitid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="varExpress" property="varExpress" jdbcType="VARCHAR"/>
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="_timestamp" property="timestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    variableid, type, suitid, name ,varExpress, sequence,updatetime, _timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qa_variable
    where variableid = #{moduleid,jdbcType=INTEGER}
  </select>

  <select id="selectBySuitid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from qa_variable
    where suitid = #{suitid,jdbcType=INTEGER}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="com.autotest.model.Variable" >
    select
    <include refid="Base_Column_List" />
    from qa_variable
    where 1=1
    <if test="variableid != null" >
      and variableid = #{variableid,jdbcType=INTEGER}
    </if>
    <if test="suitid != null" >
      and suitid = #{suitid,jdbcType=INTEGER}
    </if>
    <if test="name != null" >
      and name = #{name,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>